<div class="container mb-5">


  <div class="row">
    <div class="col-12 m-2">
      <button *ngIf="!loading;else loader" (click)="fetchHtmlToScrape()" type="button"
        class="btn btn-primary mt-2">Refresh</button>
    </div>
    <div [routerLink]="['/appdetails']" [queryParams]="{pkg:listItem.appId}" *ngFor="let listItem of appsList;let i=index" class="card col-md-2 col-sm-4 col-4">
      <div class="image">
        <img class="card-image img-fluid" src="{{listItem.imageSrc}}" alt="{{listItem.title}}">
      </div>
      <div class="cardbody">
        <b>{{listItem.title}}</b>
        <p class='text'>{{listItem.subTitle}}</p>
      </div>
    </div>
  </div>

</div>

<ng-template #loader>
  Loading...
</ng-template>